a{
    color: #ed853a;
  }
  a:hover{
    color: #ed853a;
  }
  .btn-common {
    background: #ed853a;
  }
  .btn-common:hover{
   box-shadow: 0 14px 26px -12px rgba(3, 169, 244, 0.42), 0 4px 23px 0px rgba(3, 169, 244, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.02);
  }
  /* Back to Top */
  .back-to-top i {
    background-color: #ed853a;
  }
  /* Top Roof */
  #roof{
    background: #ed853a;
  }
  /* Navbar */
  .slicknav_btn{
    border-color: #ed853a;
    border-radius: 2px;
  }
  .slicknav_menu .slicknav_btn .slicknav_icon-bar{
    background: #ed853a;
  }
  .slicknav_menu .slicknav_btn:hover{
    background: #ed853a;
  }
  .slicknav_nav .active a{
    background: #ed853a;
  }
  .slicknav_nav a:hover, .slicknav_nav .active{
    color: #ed853a;
  }
  .slicknav_nav .dropdown li a.active{
    background: #ed853a;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background: #ed853a;
  }
  .navbar-event .navbar-nav li a:hover,
  .navbar-event .navbar-nav li .active > a,
  .navbar-event .navbar-nav li a:focus {
    color: #ed853a;
  }
  .navbar-event .dropdown .dropdown-menu {
    border-color: #ed853a;
  }
  .navbar-event .dropdown .dropdown-menu > li > a:hover,
  .navbar-event .dropdown .dropdown-menu > li > a .active {
    color: #ed853a;
  }
  .navbar-event .dropdown .dropdown-menu > li.active > a {
    background: #ed853a !important;
    color: #fff;
  }
  .navbar-event .navbar-nav > .active > a,
  .navbar-event .navbar-nav > .active > a:focus,
  .navbar-event .navbar-nav > .active > a:hover {
    background: #ed853a !important;
    color: #fff;
  }
  .navbar-event .navbar-nav > .open > a,
  .navbar-event .navbar-nav > .open > a:focus,
  .navbar-event .navbar-nav > .open > a:hover {
    color: #ed853a;
  }
  .navbar-event .navbar-nav > .active > a, 
  .navbar-event .navbar-nav > .active > a:hover{
    color: #fff;
  }
  /* Countdown */
  .countdown-timer .text h4{
    color: #ed853a; 
  }
  .time-entry span{
      color: #ed853a;
  }
  /* Event */
  #event .tab-block .icon i{
    color: #ed853a;
  }
  /* Featured icon */
  .featured-box .icon i{
    color: #ed853a;
  }
  /* Schedule */
  .main-board .day > li.active > a, 
  .main-board .day > li.active > a:focus, 
  .main-board .day > li.active > a:hover{
    background-color: #ed853a;
  }
  .main-board .day > li > a:focus, 
  .main-board .day > li > a:hover{
    background: #ed853a;
  }
  /* Gellery */
  .gallery-item .icons i:hover{
    color: #ed853a;
    border-color: #ed853a;
  }
  /* Video */
  .ready-to-play:before{
    background: #ed853a;
  }
  /* Blog */
  #blog .blog-info h3 a:hover{
    color: #ed853a;
  }
  /* Pricing Table */
  .pricing-table .table-icon i{
    color: #ed853a;
  }
  .pricing-table .table-icon i{
    background: rgba(3, 169, 244, 0.07);
  }
  /* Contact */
  #contact .title-header .icon i{
    color: #ed853a;
  }
  #contact .label-line.active .label{
     color: #ed853a;
  }
  #contact .label-line.active .span:before{
    background: #ed853a;
  }
  #contact .span:before{
    background: #ed853a;
  }
  /* page header */
  .page-header .breadcrumb li{
    color: #ed853a;
  }
  .page-header .breadcrumb li a:hover{
    color: #ed853a;
  }
  /* Intro */
  #intro::before{
    background: #ed853a;
  }
  #subscribe-section::before{
    background: #ed853a;
  }
  #subscribe-section 
  .subscribe-box 
  .subscribe-form button:hover{
    color: #ed853a;
  }
  /* Speakers others */
  #team .team-img::before{
    background: rgba(3, 169, 244, 0.7);
  }
  
  /* Blog page */
  .post-title a:hover{
    color: #ed853a;
  }
  .blog-post .post-content .meta .meta-part a:hover{
    color: #ed853a;
  }
  #pagination .current,
  #pagination a:hover{
    color: #ed853a;
  }
  .widget-search .search-btn:hover{
    color: #ed853a;
  }
  .widget-title{
    border-bottom-color: #ed853a;
  }
  #sidebar .posts-list .widget-content a:hover{
    color: #ed853a;
  }
  #sidebar .cat-list li a:hover{
    color: #ed853a;
  }
  #sidebar .tag a:hover{
    color: #ed853a;
  }
  .post-slide .post-content h3 a:hover{
    color: #ed853a;
  }
  .post-slide .post-content .meta .meta-part a:hover{
    color: #ed853a;
  }
  .owl-theme .owl-controls .owl-page.active span, 
  .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #ed853a;
  }
  #comments .comment-content .comment-date{
    color: #ed853a;
  }
  .reply-link{
    color: #ed853a;
  }